		
*{
	margin:0px;
	padding:0px;
}

h1{
	font-size: 60px;
	font-weight:bold;
}

body{
	background-image: url("../images/piano.jpg");
	background-size:100%;
}

.cImage{
	height:300px;
	width:270px;
	margin:75px auto;
	margin-left:36%;
	border-radius: 10%;
	border:red solid 2px;
}

#gTitle{
		text-align:center;
		color:red;
		background-color:black;
		padding-bottom:40px;
		padding-top:40px;
		font-size: 60px;

}

#display{
	max-width:960px;
	height:1000px;
	margin:20px auto;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;	
	border:black 2px solid;
	background-image: url("../images/music.jpg");
}

#play {
		display:inline-block;
		text-align:center;
		margin-top:30px;
		border:black 2px solid;
		width:100px;
		border-radius: 10px;
		margin-left:41%;
		margin-top:100px;
		background-color:red;
		color:black;
		font-size:50px;
		padding-right:30px;
		padding-left:30px;
		padding-bottom:10px;
		cursor:pointer;
		}


.question{
		text-align:center;
		color:red;
		background-color:black; 
		padding-bottom:40px;
		padding-top:40px;
}

#a{
		display:inline-block;
		text-align:center;
		margin-top: 100px;
		border:black 2px solid;
		width:100px;
		border-radius: 10px;
		margin-left:70px;
		margin-right:60px;
		background-color:red;
		color:black;
		font-size: 20px;
		cursor:pointer;
		
}

#b{
		display:inline-block;
		text-align:center;
		margin-top:100px;
		border:black 2px solid;
		width:100px;
		border-radius: 10px;
		margin-left:70px;
		margin-right:60px;
		background-color:red;
		color:black;
		font-size: 20px;
		cursor:pointer;
		
}

#c{
		display:inline-block;
		text-align:center;
		margin-top:100px;
		border:black 2px solid;
		width:100px;
		border-radius: 10px;
		margin-left:70px;
		margin-right:60px;
		background-color:red;
		color:black;
		font-size: 20px;
		cursor: pointer;
	
}

#d{
		display:inline-block;
		text-align:center;
		margin-top:100px;
		border:black 2px solid;
		width:100px;
		border-radius: 10px;
		margin-left:70px;
		margin-right:60px;
		background-color:red;
		color:black;
		font-size: 20px;
		cursor:pointer;
		
}

#a:hover, #b:hover, #c:hover, #d:hover, #play:hover, #resetGame:hover{
	background-color:black;
	color:red;
}

.clock{
		text-align:center;
		margin-top:50px;
		color:red;
		font-size: 100px;

}

.answer{
	text-align:center;
	color:red;
	background-color: black;
	padding-bottom:40px;
	padding-top:40px;
}

#resetGame{
		display:inline-block;
		text-align:center;
		margin-top:60px;
		border:black 2px solid;
		width:250px;
		border-radius: 10px;
		margin-left:33%;
		margin-top:100px;
		background-color:red;
		color:black;
		font-size:50px;
		padding-right:30px;
		padding-left:30px;
		padding-bottom:10px;
		cursor:pointer;
}

#correct{
	text-align:center;
	color:red;
	background-color: black
}

#incorrect{
	text-align:center;
	color:red;
	background-color: black

}

#unanswered{
	text-align:center;
	color:red;
	background-color: black

}

@media screen and (max-width: 500px){
	#a{
		margin-left:35%;
		display:inline-block;
	}

	#b{
		margin-left:35%;
		display:inline-block;
	}

	#c{
		margin-left:35%;
		display:inline-block;
	}

	#d{
		margin-left:35%;
		display:inline-block;
	}

	.clock{
		margin-left:35%;
		display:inline-block;

	}
	.cImage{
		margin-left:17%;
		display:inline-block;
	}

	#play{
		margin-left:31%;
	}

	#resetGame{
		margin-left:12%;
	}


	
}